/**{
    background: url(../images/dj-play-wallpaper.jpeg);
    height: 100%;
    background-size: cover;
}
*/  
/* taking care of header alignment */

/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

/* see if we need this later .header {
    padding: 5px;
    color: black;
}
/* Header/Navigation Section */
.container {
    width: 100%;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}

header {
    background-color: rgba(245,174,195,255);
    padding: 0.2em 0;
    box-shadow: 2px 2px 10px rgba(231,92,168,255);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin-left: 1em;
}

button {
    width: 250px;
    margin: 0 .5%;
    font-size: 100%;
    text-decoration: underline;
    color: white;
    background-color: #8cc5d1;
  }

button:hover {
    background-color: #f362aa;
    color: #fff;
  }
  
  /* The user is actively pressing down on the element */
  button:active {
    font-size: 120%;
    box-shadow: 0 0 10px #000 inset;
  }
  
  /* The element is currently in focus, either by tabbing to or clicking on it */
  button:focus {
    outline: none;
    border-color: black;
  }

/* Navigation class ends */ 
/* Changes: - #title {
    font-size: 48px;
  }

.top-nav {
    padding-top: 15px;
    font-size: 20px;
}

.searchChoice {
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: red;
    color: black;
   
}

#EnterSearch {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
    float: right;

}

*/ 



/* Main-Cover page image starts */
.cover-hi {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;         
    margin-left: 75em;
}

.cover-img{
    height: 350px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
}

.cover-hi ul{
    color: aqua;
    list-style-type: none;
    font-size: 3.5em;
    background: rgba(255, 255, 255, .9);
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #555;
}

/* .cover-hi ul li {
    padding: 5px 0;
} */

.cover-hi ul li:first-child {
    font-size: 0.7em;
}

.cover-hi ul li:last-child {
    font-size: 0.5em;
    font-style: italic;
}


/* Main Cover Image Ends */
